<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.touristskaya.expenses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Мои расходы"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.touristskaya.expenses.MainActivity"
            android:label="Мои расходы"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.touristskaya.expenses.AddNewEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.touristskaya.expenses.StatisticMainScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.touristskaya.expenses.StatisticDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.touristskaya.expenses.StatisticCostTypeDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.touristskaya.expenses.StatisticChosePeriodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.touristskaya.expenses.StatisticChosenPeriodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.touristskaya.expenses.EditCostsActivity"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>


